# Папка с зависимостями node.js (обычно node_modules)
node_modules/

# Папка с сгенерированным кодом (если таковая имеется)
dist/

# Локальные конфигурационные файлы
.env

# Логи и временные файлы
logs/
*.log
npm-debug.log*

# Любые другие временные или системные файлы
peer-id.bin
package-lock.json
.DS_Store
Thumbs.db

# Папка с собранным кодом и временными файлами
bin/
obj/

# Файлы с настройками Visual Studio
.vs/

# Конкретные файлы и папки .NET
*.suo
*.user
*.bak
*.cache
*.dll
*.exe

